* {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

h1 {
    position: absolute;
    border: 1px lightgray solid;
    width: 400px;
    left: 40%;
    padding-left: 10px;
    top: 50px;
    font-size: medium;
    text-align: center;

}

form {
    border: 1px lightgray solid;
    width: 400px;
    position: absolute;
    left: 40%;
    top: 80px;
    padding-left: 10px;

    input {
        margin: 10px;
    }

    #b {
        border: 1px lightgray solid;
        position: absolute;
        width: 400px;
        padding-left: 10px;
        top: 327px;

        #button {
            position: relative;
            left: 300px;
        }

    }
}